<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cameracell.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Post No Bills Colombo ExtraBold:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@800&display=swap" />
</head>

<body>

    <div class="bg6"></div>
    <div class="track-cell-child7"></div>
    <div class="menu3">
        <div class="logo6">
            <!-- <img class="shape-icon7" alt="" src="./public/shape.svg" /> -->

            <img class="group-icon6" alt="" src="./public/group.svg" />
        </div>
    </div>
    <img class="side-menu-icon" alt="" src="./public/side-menu@2x.png" />

    <div class="top-menu6">
        <div class="bell-parent3">
            <img class="bell-icon6" alt="" src="./public/bell@2x.png" />

            <div class="ellipse6"></div>
            <div class="div9">1</div>
        </div>
        <img class="image-mask-icon6" alt="" src="./public/image-mask@2x.png" />
    </div>
    <div class="project3">
        <div class="chat-wrapper1">
            <div class="chat6">
                <p class="cyber6">CYBER</p>
                <p class="cyber6">KNIGHT</p>
            </div>
        </div>
    </div>
    <div class="group-parent">
        <div class="chat-list-parent">
            <div class="chat-list">
                <div class="chat-list-child"></div>
                <div class="rectangle-parent10">
                    <div class="group-child"></div>
                    <div class="search6">
                        <div class="search-contact5">Search Location</div>
                        <img class="search-icon4" alt="" src="./public/search-icon@2x.png" />
                    </div>
                </div>
                <div class="group-container">
                    <div class="group-group">
                        <div class="group">
                            <div class="jonathan">CAR</div>
                            <img class="group-item" alt="" src="./public/group-10.svg" />

                            <img class="group-inner" alt="" src="./public/group-11.svg" />
                        </div>
                        <div class="dec-12-2022">Dec 12 2022 10:00AM</div>
                        <div class="seen">
                            <div class="background"></div>
                        </div>
                    </div>
                    <div class="rectangle-parent11">
                        <div class="group-child1"></div>
                        <div class="div10">1</div>
                    </div>
                </div>
                <div class="group-parent1">
                    <img class="group-child2" alt="" src="./public/group-10@2x.png" />

                    <div class="group-parent2">
                        <div class="group1">
                            <div class="kevin">HUMAN</div>
                        </div>
                        <div class="dec-12-20221">Dec 12 2022 01:00PM</div>
                    </div>
                    <div class="rectangle-parent11">
                        <div class="group-child1"></div>
                        <div class="div11">2</div>
                    </div>
                </div>
                <div class="group-15-copy">
                    <img class="group-15-copy-child" alt="" src="./public/group-10@2x.png" />

                    <div class="group-parent3">
                        <div class="group2">
                            <div class="michael-sean">LAUGAGE</div>
                        </div>
                        <div class="dec-12-20222">Dec 12 2022 01:46PM</div>
                        <div class="seen1">
                            <div class="background"></div>
                        </div>
                    </div>
                    <div class="rectangle-parent13">
                        <div class="group-child1"></div>
                        <div class="div10">1</div>
                    </div>
                </div>
                <div class="group-parent4">
                    <img class="group-child5" alt="" src="./public/group-10@2x.png" />

                    <div class="group-parent5">
                        <div class="group3">
                            <div class="elizabeth-jan">TRUCK</div>
                        </div>
                        <div class="dec-12-20223">Dec 12 2022 10:40AM</div>
                    </div>
                </div>
            </div>
            <div class="group-chat">
                <div class="group4">
                    <div class="group-child6"></div>
                </div>
                <div class="groups-5-parent">
                    <div class="groups-5">ALERTS</div>
                    <div class="groups-copy">+</div>
                </div>
                <div class="group-parent6">
                    <div class="group-wrapper">
                        <div class="group-wrapper">
                            <div class="text">CAMERA DISPLACE</div>
                            <div class="group5">
                                <div class="group-child7"></div>
                                <div class="text1">T</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-frame">
                        <div class="app-development-parent">
                            <div class="app-development">NVR</div>
                            <div class="group6">
                                <div class="group-child8"></div>
                                <div class="a">F</div>
                            </div>
                        </div>
                    </div>
                    <div class="voice">
                        <div class="background2"></div>
                    </div>
                    <div class="group-wrapper1">
                        <div class="uiux-designs-parent">
                            <div class="uiux-designs">IG office</div>
                            <div class="group7">
                                <div class="group-child9"></div>
                                <div class="i">i</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-wrapper2">
                        <div class="marketing-parent">
                            <div class="marketing">DIG office</div>
                            <div class="group8">
                                <div class="group-child10"></div>
                                <div class="m">M</div>
                            </div>
                        </div>
                    </div>
                    <div class="group-8-copy">
                        <div class="accounts-and-sales-team-parent">
                            <div class="accounts-and-sales">IAS Office</div>
                            <div class="group9">
                                <div class="group-child11"></div>
                                <div class="a1">A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="audio-call">

            <img class="rectangle-3-copy" src="{{url_for('video_feed2')}}">

            <div class="rectangle-3-copy-2"></div>
            <div class="audio-call-inner">
                <div class="group-child12"></div>
            </div>
            <div class="div13">+4</div>
            <div class="jan-2023-1015-am-wrapper">
                <div class="jan-2023">27 Jan 2023 10:15 AM</div>
            </div>
        </div>
    </div>
    <div class="mail4"></div>
    <img class="mail-icon" alt="" src="./public/mail@2x.png" />

    <img class="mail-icon1" alt="" src="./public/mail@2x.png" />

    <img class="mail-icon2" alt="" src="./public/mail@2x.png" />

    <div class="div14">98</div>
    <div class="div15">80</div>
    <div class="rectangle-parent14">
        <div class="rectangle"></div>
        <img class="image-mask-icon7" alt="" src="./public/image-mask.svg" />

        <div class="dec-12-20224">Dec 12 2022 01:46PM</div>
        <div id="kk" class="group10">
            <div class="michael-sean1">ANIMAL</div>
        </div>
    </div>
    </div>

    <script>
        var rectangle2 = document.getElementById("kk");
        if (rectangle2) {
            rectangle2.addEventListener("click", function (e) {
                window.location.href = "./trackcelll.html";
            });
        }
    </script>
</body>

</html>