<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./ownercell.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Post No Bills Colombo ExtraBold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@800&display=swap"
    />
  </head>
  <body>
    <!-- <div class="owner-cell"> -->
      <nav class="bg1"></nav>
      <div class="logo1">
        <!-- <img class="shape-icon1" alt="" src="./public/shape.svg" /> -->

        <img class="group-icon1" alt="" src="./public/group.svg" />
      </div>
      <!-- <div class="side-menu">
        <img class="side-menu-child" alt="" src="./public/group-9@2x.png" />

        <img class="line-icon" alt="" src="./public/line.svg" />
      </div> -->
      <div class="top-menu1">
        <!-- <div class="bell-group">
          <img class="bell-icon1" alt="" src="./public/bell@2x.png" />

          <div class="ellipse1"></div>
          <div class="div4">1</div>
        </div> -->
        <img class="image-mask-icon1" alt="" src="./public/image-mask@2x.png" />
      </div>
      <div class="chat1">
        <p class="cyber1">CYBER</p>
        <p class="cyber1">KNIGHT</p>
      </div>
      <!-- <div class="owner-cell-child" id="rectangle"></div> -->
      <!-- <div class="back1">BACK</div> -->

      <div>
        <button id="bb">Back</button>
      </div>

      <div class="owner-cell-item"></div>
      
      <img class="image-icon" alt="" src="./public/image@2x.png" />

      <div class="details">Profile</div>

      <div class="name-sk">name: sk</div>
      <div class="address">address:</div>
      <div class="city">city:</div>
      <div class="distict">distict:</div>
      <div class="mobile">mobile:</div>
      <div class="email">email:</div>
      <div class="number-of-camera">number of camera:</div>
      <div class="type-of-camera">type of camera:</div>
      <div class="age-20">age: 20</div>
      <div class="adhar-20">adhar: 20</div>
    </div>

    <script>
      var rectangle = document.getElementById("bb");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          window.location.href = "./ownercell1.html";
        });
      }
      </script>
  </body>
</html>
