<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/policesignin.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    />
    <link rel="icon" href=
"../static/img/hacker.gif"
          type="gif/x-icon">

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Post No Bills Colombo ExtraBold:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@800&display=swap"
    />
  </head>
  <body>
    
    <nav class="for-police-parent" id="frameContainer3">
      
      <div class="frame2">
        <div class="for-police">FOR POLICE</div>
      </div>
      
      <a class="for-user" href="{{url_for('index')}}">FOR USER</a>
    </nav>
    <div class="frame-child"></div>
    
     
          <div class="container">
            <input required="" type="text" name="text" class="input">
            <label class="label">EMAIL ID/PHONE</label>
          </div>

         
          <div class="container1">
            <input required="" type="password" name="text" class="input1">
            <label class="label1">PASSWORD</label>
          </div>
         

          <button class="button2" id="button2">sign in</button>


          
          <div class="user-detals">USER DETALS</div>
          
          
          <div class="already-register">ALREADY REGISTER</div>
          <a class="click-here" href="{{url_for('policelogin')}}">CLICK HERE</a>
         
          
          <svg class="web" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L40,181.3C80,171,160,149,240,165.3C320,181,400,235,480,266.7C560,299,640,309,720,293.3C800,277,880,235,960,192C1040,149,1120,107,1200,80C1280,53,1360,43,1400,37.3L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
        </div>
      
   

    <script>
      var rectangle2 = document.getElementById("button2");
      if (rectangle2) {
        rectangle2.addEventListener("click", function (e) {
          window.location.href = "{{url_for('adminaudiocall')}}";
        });
      }
      
      // var rectangle3 = document.getElementById("rectangle3");
      // if (rectangle3) {
      //   rectangle3.addEventListener("click", function (e) {
      //     window.location.href = "./mac-book-pro141.html";
      //   });
      // }
      
      // var frameContainer3 = document.getElementById("frameContainer3");
      // if (frameContainer3) {
      //   frameContainer3.addEventListener("click", function (e) {
      //     window.location.href = "./mac-book-pro144.html";
      //   });
      // }
      </script>
  </body>
</html>
