.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 70px;

}

.shape-icon1 {
  left: 1.3px;
  width: 3.2px;
  height: 1.3px;
}
.group-icon1,
.logo1,
.side-menu-child {
  position: absolute;
  top: 48.5px;
  left: 0;
  width: 40.6px;
  height: 37.7px;
}
.logo1,
.side-menu-child {
  top: -36.5px;
  left: 8px;
  height: 86.2px;
}
.side-menu-child {
  top: 0;
  left: 24.5px;
  width: 25.5px;
  height: 379.1px;
  object-fit: cover;
}
.line-icon,
.side-menu {
  position: absolute;
  top: 345px;
  left: 0;
  width: 2px;
  height: 35px;
}
.side-menu {
  top: 242px;
  width: 50px;
  height: 380px;
}
.bell-icon1 {
  top: 9px;
  left: 0;
  width: 23.3px;
  height: 28px;
  object-fit: cover;
}
/* .bell-icon1,
.div4,
.ellipse1 {
  position: absolute;
}
.ellipse1 {
  top: 0;
  left: 11.3px;
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 20px;
  height: 20px;
} */
.div4 {
  top: 2px;
  left: 19.3px;
}
.bell-group,
.image-mask-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.3px;
  height: 37px;
}
.image-mask-icon1 {
  left: 52.1px;
  width: 38px;
  height: 38px;
  object-fit: contain;
}
.top-menu1 {
  position: absolute;
  top: 15.1px;
  left: 1400px;
  width: 90.1px;
  height: 38px;
  font-size: var(--font-size-2xs);
}
.cyber1 {
  margin: 0;
}
.chat1 {
  position: absolute;
  top: 0;
  left: 48px;
  font-size: var(--font-size-14xl);
  letter-spacing: 5px;
  line-height: 39px;
  font-family: var(--font-post-no-bills-colombo-extrabold);
  color: var(--color-black);
  text-align: center;
}
.owner-cell-child {
  position: absolute;
  top: 100px;
  left: 8px;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue-100);
  width: 161px;
  height: 46px;
  cursor: pointer;
}
.back1 {
  position: absolute;
  top: 99px;
  left: 38px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  display: inline-block;
  width: 107px;
  height: 28px;
}
.owner-cell-item {
  position: absolute;
  top: 95px;
  left: 185px;
  background-color: var(--color-mediumslateblue-200);
  width: 1139px;
  height: 640px;
  border-radius: 10px;
  z-index: -1;
}
.image-icon {
  position: absolute;
  top: 200px;
  left: 210px;
  width: 201px;
  height: 248px;
  object-fit: cover;
  border-radius: 50%;
}
.details,
.name-sk {
  position: absolute;
  font-weight: 900;
  display: inline-block;
}
.details {
  top: 109px;
  left: 703px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  width: 146px;
  height: 57px;
  font-style: italic;
  font-weight: bold;
}
.name-sk {
  top: 219px;
  left: 473px;
  width: 115px;
  height: 33px;
}
.address,
.adhar-20,
.age-20,
.city,
.distict,
.email,
.mobile,
.number-of-camera,
.type-of-camera {
  position: absolute;
  top: 317px;
  left: 473px;
  font-weight: 900;
  display: inline-block;
  width: 115px;
  height: 33px;
}
.adhar-20,
.age-20,
.city,
.distict,
.email,
.mobile,
.number-of-camera,
.type-of-camera {
  top: 400px;
}
.adhar-20,
.age-20,
.distict,
.email,
.mobile,
.number-of-camera,
.type-of-camera {
  left: 761px;
}
.adhar-20,
.age-20,
.email,
.mobile,
.number-of-camera,
.type-of-camera {
  top: 472px;
  left: 473px;
}
.adhar-20,
.age-20,
.email,
.number-of-camera,
.type-of-camera {
  top: 471px;
  left: 755px;
}
.adhar-20,
.age-20,
.number-of-camera,
.type-of-camera {
  top: 317px;
  left: 741px;
  width: 169px;
}
.adhar-20,
.age-20,
.type-of-camera {
  top: 316px;
  left: 1014px;
}
.adhar-20,
.age-20 {
  top: 219px;
  left: 755px;
  width: 115px;
}
.adhar-20 {
  left: 1014px;
}
/* .owner-cell {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 917px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
} */

body{
  background-color: var(--color-whitesmoke-300);
}


button {
  margin-top: 100px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #ffb4b4;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
