.bg4 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 70px;
  z-index: 10;
}
.search-cell-inner {
  position: fixed;
  top: 150px;
  left: 1px;
  border-radius: 0 var(--br-21xl) var(--br-21xl) 0;
  background-color: var(--color-mediumslateblue-100);
  width: 80px;
  height: 522px;
}
.shape-icon4 {
  position: absolute;
  top: 0;
  left: 1.3px;
  width: 3.2px;
  height: 1.3px;
}
.group-icon4,
.menu2 {
  position: fixed;
  top: 14px;
  left: 1px;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.menu2 {
  top: -36.5px;
  left: 8px;
  height: 86.2px;
}
.side-menu-child1 {
  position: absolute;
  top: 0;
  left: 24.5px;
  width: 25.5px;
  height: 379.1px;
  object-fit: cover;
}
.line-icon3,
.side-menu3 {
  position: absolute;
  top: 230px;
  left: 0;
  width: 20px;
  height: 35px;
}
.side-menu3 {
  position: fixed;
  top: 35px;
}

.div7 {
  top: 2px;
  left: 19.3px;
}
.group-div,
.image-mask-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.3px;
  height: 37px;
}
.image-mask-icon4 {
  left: 52.1px;
  width: 38px;
  height: 38px;
  object-fit: contain;
}
.top-menu9 {
  position: fixed;
  top: 15.1px;
  left: 1450px;
  width: 10px;
  height: 10px;
  z-index: 10;
}
.cyber4 {
  margin: 0;
  /* padding-left: 6px; */
}

.project2 {
  position: fixed;
  top: 10px;
  left: 50px;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 29px;
  font-family: var(--font-post-no-bills-colombo-extrabold);
  color: var(--color-black);
  text-align: center;
  z-index: 10;
}
.mail2 {
  position: absolute;
  top: 706px;
  left: 348px;
  width: 25px;
  height: 25px;
}
.search-cell-child1 {
  position: absolute;
  top:90px;
  left: 200px;
  background-color: var(--color-mediumslateblue-200);
  width: 1139px;
  height: 653px;
  z-index: -1;
  border-radius: 10px;
}

.search-cell-child3,
.search-cell-child4 {
  top: 284px;
}
.search-cell-child4 {
  top: 362px;
  left: 451px;
}
.search-contact1 {
  position: absolute;
  top: 0;
  left: 58px;
  display: inline-block;
  width: 402px;
  height: 23px;
}
.search-icon1 {
  position: absolute;
  top: 8.7px;
  left: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.search1,
.search2,
.search3 {
  position: absolute;
  top: 192px;
  left: 504px;
  width: 460px;
  height: 38.7px;
}
.search2,
.search3 {
  top: 359px;
}
.search3 {
  top: 284px;
}
.search-cell-child5 {
  position: absolute;
  top: 462px;
  left: 534px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 383px;
  height: 61px;
  cursor: pointer;
}
.search4 {
  position: absolute;
  top: 471px;
  left: 656px;
  font-weight: 800;
  color: var(--color-crimson);
  display: inline-block;
  width: 166px;
  height: 38px;
}


body{
  background-color: var(--color-whitesmoke-300);
}
.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 26px;
  color: #555;
  outline: none;
  margin-top: 30px;
  margin-left: 300px;
  width: 500px;
  height: 20px;
  border-radius: 20px;
}
.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.input-style1 {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 26px;
  color: #555;
  outline: none;
  margin-top: 50px;
  margin-left: 500px;
  width: 500px;
  height: 20px;
  border-radius: 20px;
}
.input-style1:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}



.btn {
  margin-top: 50px;
  margin-left: 500px;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

.hh{
  margin-top: 20px;
  margin-left: 450px;
  font-style: italic;
  content: black;
}


.side-menu-icon2 {
  position: absolute;
  top: 400px;
  left: 10px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.side-menu-icon4 {
  position: absolute;
  top: 500px;
  left: 10px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.side-menu-icon3 {
  position: absolute;
  top: 200px;
  left: 10px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.side-menu-icon1 {
  position: absolute;
  top: 300px;
  left: 10px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(199, 177, 177);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch svg {
  width: 1.2em;
}
.switch svg path {
  fill: rgb(48, 48, 48);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + .switch svg path {
  fill: rgb(255, 255, 255);
}

